@use '/src/scss/index.scss' as *;

.parallax__elem_left, .parallax__elem_right {
    @include desktop-width { display: none; }
    @include phone-width {
        display: none;
        @media screen and (min-width: 325px) {
            display: block !important;
            @include parallax(.1);
            width: 10vw;
            height: 40vh;

            .scroll-lock &  { display: none !important; }
        }
    }
}

.parallax__elem_right {
    @include phone-width {
        right: 0;
        &.parallax_upper { color: var(--dark-color); top: 20vh; }
        &.parallax_lower { color: var(--gray-color); bottom: -170vh; } 
    }
    right: 0;
}

.parallax__elem_left {
    @include phone-width {
        left: 0;
        &.parallax_upper { color: var(--dark-color); top: 30vh; }
        &.parallax_lower { color: var(--gray-color); bottom: -170vh; }
    }
}
