@use '/src/scss/index.scss' as *;
.consultation__requests, .consultation__guarantees {
    display: flex;
    flex-flow: column;
    gap: 5dvh;
    width: 100%;
    >ul {
        display: flex;
        @include phone-width { flex-flow: column; }
        gap: 3dvh;
        width: 100%;
    }
}

.consultation__requests { 
    align-items: center;
    @include phone-width {
        justify-content: center;
        min-height: 85dvh; 
    }

    @include desktop-width {
        padding: 5dvh 0;
        justify-content: start; 
        >ul {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            >li {
                width: 325px;
                &:nth-child(odd) { justify-self: self-start; }
                &:nth-child(even) { justify-self: self-end; }
                &:first-child { grid-column: span 2; justify-self: center }
            }
        }
    }
    container-type: inline-size;
}

.consultation__request {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-top: 1px solid var(--purple-color);
    border-bottom: 1px solid var(--purple-color);
    border-radius: 13px;
    transform: scale(.7);
    opacity: 0;

    animation: appear2 .7s ease forwards;
    @include text-font;
}

@for $i from 1 to 11 {
    $delay: ($i - 1) * .15;

    .consultation__request:nth-child(#{$i}) {
        animation-delay: #{$delay}s;
    }
}

@container ( width <= 275px ) {
    .consultation__request {
        font-size: 16px;
    }
}