---
import Requests from './Requests/Requests';
import Guarantees from './Guarantees/Guarantees';
import Quote from './Quote/Quote';
import Method from './Method/Method';
import Appointment from '../Appointment/Appointment';

import { consultation } from '../../../../data/data.json';
---

<div class="consultation-wrapper">
    <Requests client:visible />
    <Guarantees client:only="preact" />
    <Quote client:visible />
    <Method client:visible/>
    <Appointment client:visible info={consultation.price} type={1} />
</div>