@use '/src/scss/index.scss' as *;

.consultation__qoute {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: flex-start;

    width: 120%;

    background-color: var(--pink-color);

    -webkit-transform: translate3d(-10%,0,0);
    transform: translate3d(-10%,0,0);

    >blockquote {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        gap: 1vh;

        width: 80%;
        height: 350px;

        >h5, small {
            width: 100%;

            text-align: center;

            @include phone-width { @include quote-font(var(--dark-color)); }
            @include desktop-width { @include quote-font(var(--dark-color), 16px); }
        }
    }
    
    >span {
        position: absolute;
        bottom: 15%;
        width: 1px;

        height: 30px;

        background-color: var(--dark-color);

        &:first-child { top: 15%; }
    }
}