---
import Introduction from './Introduction/Introduction';
import Steps from './Steps/Steps';
import Reviews from './Reviews/Reviews';
import Appointment from '../Appointment/Appointment';

import { nailTherapy } from '../../../../data/data.json';
---

<div class={"nail-therapy-wrapper"}>
    <Introduction client:visible />
    <Steps client:only="preact" />
    <Reviews client:visible />
    <Appointment client:visible info={nailTherapy.price} type={2}/>
</div>