@use '/src/scss/index.scss' as *;

.about {
    position: absolute;
    top: 100dvh;

    height: 100%;
    max-width: 100%;

    color: var(--purple-color);
    @include phone-width {
        background: var(--dark-gradient)
            url('/images/bioBackground/about-phone.jpg');
    }

    @include desktop-width {
        @include parallax(-.3);
        top: 0;
        width: 60%;
        right: -6%;
        background: var(--shadow);
    }

}

.about__image-wrapper span, .about__image { @extend %absolute_default; }

.about__image-wrapper >span {
    @include phone-width {
        background: -webkit-gradient(var(--dark-gradient));
        background: var(--dark-gradient);
    }

    @include desktop-width {
        background: -webkit-gradient(var(--shadow));
        background: var(--shadow);
    }
}

.about__image { >img { @extend %image_default }; }

.about__information-slider {
    position: relative;
    height: 95%;
    width: 100%;
    overflow: hidden;

    @include desktop-width { @include appear; }
}

.about__information-slides {
    display: flex;
    width: 200%;
    height: 100%;
}