@use '/src/scss/index.scss' as *;

.nail-therapy__steps {
    display: flex;
    flex-flow: column;
    gap: 5vh;

    width: 100%;

    >div {
        display: flex;

        width: 100%;

        @include desktop-width { padding: 0 4%; }

        @include phone-width { flex-flow: column; }
    }

    @include desktop-width {
        min-height: max-content;
        margin: 20px 0;
    }

    @include phone-width {
        min-height: max-content;
        margin: 20px 0;
    }
}

.nail-therapy__step {
    width: 100%; 
    height: auto;

    opacity: .3;

    margin: 1.5vh 1.5vw;

    -webkit-transform: scale(.6);
    transform: scale(.6);

    cursor: default;

    > time {
        display: inline-block;
        width: 100%;


        padding-right: 20px;

        text-align: end;

        @include text-font(var(--biege-color), 12px, 300);
        color: currentColor;
    }

    &.step_appear {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }

    &.increased {
        -webkit-transform: scale(1.03);
        transform: scale(1.03); 
    }


    @include interactive;

    &:nth-child(1) { color: var(--biege-color); >div>span { width: 33%; } }
    &:nth-child(2) { color: var(--purple-color); >div>span { width: 66%; } }
    &:nth-child(3) { color: var(--pink-color); >div>span { width: 97%; } }
}

.step__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 90px;

    color: currentColor;

    padding: 0 5%;

    border: 2px solid currentColor;
    border-radius: 13px;

    container-type: inline-size;

    >p {
        width: 60%;

        @include text-font(var(--biege-color), 16px);

        color: currentColor;
    }

    >div {
        width: 50px;
        height: 50px;

        text-align: center;
        line-height: 50px;


        border-radius: 50%;
        border: 2px solid;

        @include text-font(var(--biege-color), 18px);
        
        color: currentColor;
    }
    
    >span {
        position: absolute;
        bottom: 0;
        left: 5px;

        height: 3px;

        background-color: currentColor;

        border-radius: 13px;
    }
}

@container ( width <= 260px ) {
    p {
        font-size: 14px !important;
    }
}