---
import Layout from '../layouts/Layout.astro';
import { RightFrame, LeftFrame } from '../components/Parallax/Parallax';
import Header from '../components/Header/Header';
import Main from '../components/Main/Main';
import About from '../components/About/About';
import Services from '../components/Services/Services';
import Contacts from '../components/Contacts/Contacts';
import NailTherapy from '../components/Services/Modal/NailTherapy/NailTherapy.astro';
import Consultation from '../components/Services/Modal/Consultation/Consultation.astro';
import Lotus from '../svg/Lotus/Lotus';
import { name } from '../data/data.json';

const title = name;
---

<Layout title={title}>
    <div id="app">
        <LeftFrame type={1} />
        <RightFrame type={1}/>
        <Header client:visible/>
        <Main client:visible/>
        <About client:visible/>
        <Services client:visible>
            <NailTherapy slot="nail-threapy"/>
            <Consultation slot='consultation'/>
        </Services>
        <Contacts client:visible>
            <Lotus client:only="preact" slot="lotus"/>
        </Contacts>
        <LeftFrame client:visible client:media='(max-width: 725px)' type={2}/>
        <RightFrame client:visible client:media='(max-width: 725px)' type={2}/>
    </div>
</Layout>

<style lang="scss">
    @use '/src/scss/index.scss' as *;

    #app {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column;

        scroll-behavior: smooth;
        overscroll-behavior: contain;
        overflow: hidden;
        overflow-y: auto;
        perspective: 1px;
        &, * { transform-style: preserve-3d; }
        
        @include scrollbar;
    }
</style>