@use '/src/scss/index.scss' as *;

#move-to-arrow {
    @include svg;
}

#move-to-arrow_shaded {
    @include svg(false);

    >.move-to-arrow__common-elems { fill: currentColor; }
    & .move-to-arrow__stop { stop-color: var(--pink-color); }
    & .move-to-arrow__stop_opacity { stop-opacity: 0; }
}