@use '/src/scss/index.scss' as *;

.header {
    position: absolute;
    inset: 0;
    z-index: 100;
    max-width: 100dvw;

    animation: headerShow .7s forwards;
    @include phone-width { width: 100%; height: 50px; }
    @include desktop-width { width: 40%; height: 150px; }
}

.header__navigation-menu {
    position: relative;
    width: 100%;
    height: 100%;
}

.header__navigation-list {
    display: flex;
    @include phone-width {
        gap: 10dvw;
        align-items: center;
        height: 100%;
    }
    @include desktop-width {
        flex-flow: column;
        padding: 10px 20px;
        height: 75%;
    }
    justify-content: center;
    width: 100%;
    container-type: inline-size;
}

.hiden-svg-init {
    position: absolute;
    width: 10px;
    height: 10px;
    content-visibility: hidden;
}

@container ( width <= 333px ) {
    .header__anchor {
        font-size: 16px;
    }
}