@use '/src/scss/index.scss' as *;

.introduction__image {
    position: relative;
    
    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include phone-width {
        min-width: 120px;
        width: 40%;
        max-width: 180px;
        //width: clamp(120px, 40%, 180px);

        border-right: 1px solid var(--biege-color);

        -webkit-filter: opacity(.8);
        filter: opacity(.8);
    }

    @include desktop-width {
        inset: 0;
        >img {
            display: block;
            width: 100%;
            min-height: 100%;
        }
    }
}