@use '/src/scss/index.scss' as *;

.introduction__image {
    position: relative;
    
    >img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    @include phone-width {
        width: clamp(120px, 40%, 180px);
        border-right: 1px solid var(--biege-color);
        filter: opacity(.8);
        >img { 
            display: block;
            max-height: 255px;
            width: 100%;
        }
    }

    @include desktop-width {
        width: 100%;
        inset: 0;
        >img {
            display: block;
            width: 100%;
            min-height: 100%;
        }
    }
}