@use '/src/scss/index.scss' as *;

.consultation__guarantee {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;

    width: 100%;

    padding: 10px 0;

    border-radius: 13px;

    >h4 { @include text-font(var(--biege-color), 24px); }
    >p {
        width: 80%;

        white-space: pre-line;
        text-align: center;

        @include text-font(var(--biege-color), 18px, 200);
    }

}