@use '/src/scss/index.scss' as *;

.introduction__information {
    display: flex;
    flex-flow: column;

    min-height: 100%;

    background: var(--shadow-fill);

    -webkit-animation: appear 1.2s ease;
    animation: appear 1.2s ease;

    pointer-events: none;

    @include phone-width {
        width: 80%;
        >p { 
            &:first-child { border-bottom: 1px solid; }
            @include text-font(var(--biege-color), 12px);
        }
    }

    @include desktop-width {
        position: absolute;
        inset: 0;

        height: 100%;
        width: 100%;

        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);

        >p { @include text-font(var(--biege-color), 18px); }

        @supports not (inset: 0) {
            top: 0;
            left: 0;
        }
    }

    >p { 
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50%;
        width: 100%;

        padding: 0 7px;

        text-align: center;

    }
}