@use '/src/scss/index.scss' as *;

.introduction__information {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 13px;
    padding: 0 10px;
    border-top: 1px solid var(--purple-color);
    border-bottom: 1px solid var(--purple-color);
    &:nth-child(3n) { grid-row: span 2; height: 70%; }
    >p { @include text-font(var(--biege-color), 16px); }
    backdrop-filter: blur(7px) opacity(.9);
    animation: appear 1.2s ease;
}