@import '/src/scss/mixins.scss';

#youTube-icon {
    fill: none;
    width: 35px;
    height: 25px;
    >path {
        stroke-width: 2.5px;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}