%absolute_default {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

%image_default {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

%transition {
    transition: .7s ease;
}