@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Nunito+Sans:ital,wght@1,200&family=Roboto:wght@100;300&display=swap');

// font-family: 'Montserrat', sans-serif;
// font-family: 'Nunito Sans', sans-serif; // quotes
// font-family: 'Roboto', sans-serif;

@mixin header-font ( $color: var(--biege-color)) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $color;

    @media screen and (min-width: 726px) { font-size: calc(var(--index) * 1.2); }
    @media screen and (max-width: 725px) { font-size: calc(var(--index) * 1.9); }
}

@mixin text-font (
    $color: var(--biege-color),
    $size: 18px,
    $weight: 300
) {
    font-family: 'Roboto', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin quote-font (
    $color: var(--biege-color),
    $size: 14px,
) {
    font-family: 'Nunito Sans', sans-serif;
    font-size: $size;
    color: $color;
}