@mixin desktop-width {
    @media screen and (width > 725px) {
        @content;
    }
}

@mixin phone-width {
    @media screen and (width <= 725px){
        @content;
    }
}

// *** animations *** //
@mixin interactive { transition: .7s ease; }

/***  svg  ***/
@mixin svg ($isPath: true) {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    width: 100%;
    height: 100%;

    @if $isPath { >path { fill: currentColor; } }
}

@mixin scrollbar {

    &::-webkit-scrollbar-thumb {
        background: var(--purple-color);
        border-radius: 13px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    scrollbar-color: transparent var(--purple-color);

    @include desktop-width { &::-webkit-scrollbar { width: 4px; } }
    @include phone-width { &::-webkit-scrollbar { width: 3px; } }
}