--- 
interface Props { title: string; }

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/lotus.svg" />
		<title>{ title }</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="scss">
    @import '../scss/mixins.scss';
    :root {
        --dark-color: #1D1E2C;
        --gray-color: #59656F;
        --purple-color: #AC9FBB;
        --pink-color: #DDBDD5;
        --biege-color: #F7EBEC;
        --dark-gradient: linear-gradient(to top, #1d1e2cd7 7%, rgba(0, 0, 0, .15) 25%);
        --dark-half-transparent: #1d1e2cc9;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
	html {
		font-family: system-ui, sans-serif;
		background: var(--dark-color);
        scroll-behavior: smooth;
        overscroll-behavior: contain;
        & body { height: 100dvh; }
	}

    button { 
        cursor: pointer;
        border: none;
        background: transparent;
        @include outline;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        @include outline;
    }

    li { list-style-type: none; }
</style>
