@use '/src/scss/index.scss' as *;

.contacts {
    @include parallax(.1);
    display: flex;
    flex-flow: column;
    gap: 5%;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100dvh;
    padding: 7% 7%;

    top: calc(200dvh + 430px);
}

.contacts__title {
    @include header-font;
}

.contacts__information {
    position: relative;
    width: 100%;
    height: 40%;
}

.contacts__text {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    font-style: normal;
    :nth-child(2n) { font-style: italic }
    @include text-font(var(--biege-color), 1.7dvh);
}

.contacts__svg-wrapper {
    position: relative;
    width: 100%;
    height: 20%;
}