@use '/src/scss/index.scss' as *;

.contacts {
    position: relative;
    top: calc(200vh + 430px);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;

    padding: 7% 7%;

    @include desktop-width {
        top: 170vh;

        justify-content: space-around;

        padding: 5% 7%;
    }
}

.contacts__title {
    @include header-font(var(--purple-color));
}

.contacts__information {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    width: 100%;
    height: 20%;

    container-type: inline-size;
}

@container ( width <= 390px ) {
    .contacts__text { font-size: 4vw !important; }
}

@container ( width >= 800px ) {
    .contacts__text {
        grid-template-columns: 40% 50% !important;

        >:nth-child(odd) {
            text-align: end;
            padding-right: 2vw;
        }

        font-size: 20px !important;
    }
}

.contacts__text {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    font-style: normal;
    :nth-child(2n) { font-style: italic }

    @include text-font(var(--purple-color), 1.7vh);
}

.contacts__svg-wrapper {
    position: relative;
    width: 100%;
    height: 20%;
}