@use '/src/scss/index.scss' as *;

.services__modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;

    min-width: 100vw;
    min-height: 100vh;

    padding: 5vh 0;

    border: none;

    background: transparent;

    overflow: hidden;

    will-change: transform;

    &.modal_opened { display: block; }

    &.services__consultation { 
        -webkit-animation: left-side-sliding .7s ease-out;
        animation: left-side-sliding .7s ease-out;

        &.modal__closing { 
            -webkit-animation: right-side-sliding .7s ease-out reverse forwards;
            animation: right-side-sliding .7s ease-out reverse forwards; 
        }

    }

    &.services__nail-therapy {
        -webkit-animation: right-side-sliding .7s ease-out;
        animation: right-side-sliding .7s ease-out;

        &.modal__closing {
            -webkit-animation: left-side-sliding .7s ease-out reverse forwards;
            animation: left-side-sliding .7s ease-out reverse forwards; 
        }
    }

    @include desktop-width {
        &::backdrop {
            background-color: #1d1e2cde;

            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
        }
    }

    @include phone-width {
        &::backdrop { background-color: #1d1e2ce8; }
    }
}

@supports not (backdrop()) {
    .services__modal {
        height: 100vh;
        background-color: #1d1e2cee;

        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }
}

.modal__close-button {
    position: fixed;
    top: 0;

    color: var(--pink-color);

    @include phone-width {
        width: 40px;
        height: 40px;

        &.close-button_left { left: 5px; }

        &.close-button_right { 
            right: 5px;
            -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); 
        }
    }

    @include desktop-width {
        width: 50px;
        height: 50px;

        &.close-button_left { 
            left: 5%;
            &:hover {
                color: var(--biege-color);

                -webkit-animation: side-to-side_no-rotate .7s ease;
                animation: side-to-side_no-rotate .7s ease;
            }
        }
        &.close-button_right { 
            right: 5%; 

            -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg); 

            &:hover {
                color: var(--biege-color);
                -webkit-animation: side-to-side .7s ease;
                animation: side-to-side .7s ease;
            }
        }

        @include interactive;
    }
}