@use '/src/scss/index.scss' as *;

.services__modal {
    position: fixed;
    min-width: 100dvw;
    min-height: 94dvh;
    top: 3dvh;
    padding: 5dvh 0;
    border: none;

    @include desktop-width {
        &::backdrop {
            background-color: #1d1e2cde;
            backdrop-filter: blur(3px);
        }
    }

    background: transparent;

    &::backdrop { background-color: #1d1e2cde; }

    &.services__consultation { 
        animation: left-side-sliding .7s ease-out; 
        &.modal__closing { animation: right-side-sliding .7s ease-out reverse forwards; }
    }
    &.services__nail-therapy { 
        animation: right-side-sliding .7s ease-out; 
        &.modal__closing { animation: left-side-sliding .7s ease-out reverse forwards; }
    }

    overflow: hidden;
    will-change: transform;
}

.modal__close-button {
    position: fixed;
    color: var(--pink-color);
    @include phone-width {
        top: -5px;
        width: 40px;
        height: 40px;

        &.close-button_left { left: 5px; }
        &.close-button_right { right: 5px; transform: rotateZ(180deg); }
    }

    @include desktop-width {
        top: 0;
        width: 50px;
        height: 50px;
        @include interactive;
        &.close-button_left { 
            left: 5%;
            &:hover {
                color: var(--biege-color);
                animation: side-to-side_no-rotate .7s ease;
            }
        }
        &.close-button_right { 
            right: 5%; 
            transform: rotateZ(180deg); 
            &:hover {
                color: var(--biege-color);
                animation: side-to-side .7s ease;
            }
        }
    }
}